.header-component {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;

    .logo-group {
        display: flex;
        align-items: center;
        gap: 40px;

        .logo {
            margin-left: 20px;
            background: #EBD91A;
            height: 51px;
            width: 51px;
            padding: 3px;
            border-radius: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    .user-group {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h1, .occupation {
        color: #1B217D;
    }

    h3 {
        color: #2F2F3A;
    }
}
