.user-component {
    display: flex;
    gap: 10px;

    .user-informations {
        display: flex;
        justify-content: center;
        flex-direction: column;
    
        .username {
            font-size: 19px;
        }
    
        .occupation {
            font-size: 14px;
        }
    }
}