#home-component {
    #header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1rem;

        #logo-group {
            display: flex;
            align-items: center;
            gap: 40px;

            #logo {
                margin-left: 95px;
                margin-top: 52px;
                background: #EBD91A;
                height: 51px;
                width: 51px;
                padding: 3px;
                border-radius: 100%;

                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    height: 100%;
                    width: 100%;
                }
            }
            
            h5{
                margin-top: 52px;
                font-size: 2.8rem;
                color: #2F2F3A;
            }
        }


        #action-button button{
            margin-top: 52px;
            margin-right:95px;
            width: 192px;
            height: 60px;
            background: #1B217D;
            border-radius: 5px;
            border: 0;
            color: #fff;
            font-weight: bold;
            font-size: 2.1rem;
            transition: background-color 0.2s;    
            
            &:hover {
                cursor: pointer;
                background: #262e9c;
            }
        }
    }

    #content {
        display: flex;
        margin-left: 32px;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 1rem;
        margin-top: 150px;

        #intro{
            width: 50%;

            h3{
                font-size: 5rem;
            }

            h5{
                margin-top: 10px;
                font-weight: lighter;
                font-size: 2.8rem;
            }
        }

        #second-action-button button{
            display: none;
            margin-top: 52px;
            margin-right:95px;
            width: 192px;
            height: 60px;
            background: #1B217D;
            border-radius: 5px;
            border: 0;
            color: #fff;
            font-weight: bold;
            font-size: 2.1rem;
            transition: background-color 0.2s;    
            
            &:hover {
                cursor: pointer;
                background: #262e9c;
            }

        }

        #illustration{
            width: 40%;
        }

        #illustration{
            img{
                filter: drop-shadow(10px 11px 4px rgba(0, 0, 0, 0.25));
            } 
        }
    }
}

@media(max-width: 1500px){
    #home-component #content {
        flex-direction: column;
        align-items: center;
        margin-top: 32px;
    }

    #home-component #content #intro {
        text-align: center;
        width: 100%;
    }


    #home-component #content #illustration{
        order: -1;
        width: 80%;
     }
}

@media(max-width: 1020px){
    #home-component #header #logo-group {
        width: 100%;
        justify-content: center;
    }

    #home-component #header #action-button{
        display: none;
        visibility: hidden;
    }

    #home-component #content {
        margin-top: 32px;
    }

    #home-component #content #intro {
        width: 100%;
    }

    #second-action-button{
        width: 100%;
    }

    #home-component #content #second-action-button button{
        display: inline-block;
        width: 100%;
        margin-right: 0;
    }


    #home-component #content #illustration{
       display: none;
    }
}

@media(max-width: 670px){
    #home-component #header #logo-group #logo {
        margin-left: 0;
    }
    
    #home-component #header  #logo-group h5{
        font-size: 2rem;
    }
    
    #home-component #content{
        margin-left: 0;
    }

    #home-component #content #intro h3 {
        font-size: 3rem;
    }

    #home-component #content #intro h5 {
        font-size: 1.5rem;
    }
}