html {
    // A cada 1rem sera considerado 10px
    font-size: 62.5%;
}

body {
    font-size: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
}